.sidebar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    align-self: flex-start;
    background-color: #f0f7da;
    padding: 10px;
    padding-top: 15px;
}

.sidebar.open {
    width: 18%;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #165f47;
    margin-bottom: 20px;
}

.sidebar-header button {
    outline: none;
    color: #165f47;
    background: none;
    border: none;
    padding-left:5px;
    cursor: pointer;
}

.sidebar-actions {
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-bottom: 20px;
}

.action-btn {
    display: flex;
    gap:10px;
    align-items: center;
    width: 100%;
    border-radius: 6px;
    padding: 5px;
}

.action-btn span{
    font-weight: 600;
}

.recents span {
    font-weight: 600;
}

.recent-columns {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.recent-item button{
    width: 100%;
    text-align: left;
    padding-left:6px;
    padding-right:6px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: 500;
    color:#075e54;
    border: none;
    background: none;
    border-radius: 6px;
}

.recent-item button:hover {
    background-color: #339551;
    color: #bee0c7;
}